<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cinema</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cinema.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cinema.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cinema.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>cinema.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>cinema.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cinema.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>cinema.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreeningsServlet</display-name>
    <servlet-name>ScreeningsServlet</servlet-name>
    <servlet-class>cinema.ScreeningsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreeningsServlet</servlet-name>
    <url-pattern>/ScreeningsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreeningServlet</display-name>
    <servlet-name>ScreeningServlet</servlet-name>
    <servlet-class>cinema.ScreeningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreeningServlet</servlet-name>
    <url-pattern>/ScreeningServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Movies2Servlet</display-name>
    <servlet-name>Movies2Servlet</servlet-name>
    <servlet-class>cinema.Movies2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movies2Servlet</servlet-name>
    <url-pattern>/Movies2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreentypeServlet</display-name>
    <servlet-name>ScreentypeServlet</servlet-name>
    <servlet-class>cinema.ScreentypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreentypeServlet</servlet-name>
    <url-pattern>/ScreentypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditoriumServlet</display-name>
    <servlet-name>AuditoriumServlet</servlet-name>
    <servlet-class>cinema.AuditoriumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditoriumServlet</servlet-name>
    <url-pattern>/AuditoriumServlet</url-pattern>
  </servlet-mapping>
</web-app>